services:
  nginx:
    build: 
      context: ./requirements/nginx
    image: nginx
    container_name: nginx
    ports:
      - "443:443"
    volumes:
      - wordpress_data:/var/www/inception
    restart: always
    depends_on:
      - wordpress
    networks:
      - inception

  mariadb:
    build: 
      context: ./requirements/mariadb
    image: mariadb
    container_name: mariadb
    volumes:
      - mariadb_data:/var/lib/mysql
    env_file:
      - .env
    networks:
      - inception
    restart: always
    healthcheck:
      test: "mysql -u $MYSQL_ROOT_USER -P 3306 -p$MYSQL_PASSWORD $MYSQL_DATABASE -Bse 'SELECT 1'"
      start_interval: 3s
      start_period: 15s
      interval: 2m
      retries: 3
      timeout: 5s

  wordpress:
    build: 
      context: ./requirements/wordpress
    image: wordpress
    container_name: wordpress
    depends_on:
      mariadb:
        condition: service_healthy
    volumes:
      - wordpress_data:/var/www/inception
    env_file:
      - .env
    networks:
      - inception
    restart: always


volumes:
  wordpress_data:
    name: wordpress_data
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "/home/gvigilan/data/wordpress"
  mariadb_data:
    name: mariadb_data
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "/home/gvigilan/data/mariadb"

networks:
  inception:
    driver: bridge
    name: inception
